# Data Structures

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/MAERSK_MC_KINNEY_M%C3%96LLER_%26_MARSEILLE_MAERSK_%2848694054418%29.jpg/800px-MAERSK_MC_KINNEY_M%C3%96LLER_%26_MARSEILLE_MAERSK_%2848694054418%29.jpg" width=600/>


<br>

Most of the data types we have encountered so far are **atomic types** (except strings).



In many applications, data is related in some way, and should be organized in some structure that mirrors the semantics of data:

- A shopping cart of items

- A gradebook for a class

- A person's demographic characteristics

- Members of an online community

- Districts of Hong Kong

- Pixels of an image

……


<img src="https://raw.githubusercontent.com/justinjiajia/img/master/python/sample-matrix.gif" width=500/>

In programming, we use **data structures** to pack related data together.

In simple terms, a data structure refers to a **container** that organizes a **collection** of data in a particular structure.

In Python, the four common data structures are:

- Lists and tuples (sequential containers)
- Dictionaries (associative containers)
- Sets (set containers; optional)

Like numbers, strings, and Booleans, they are built-in data types in Python. 

<br>


> A large part of performant programming is understanding what questions we are trying to ask of our data and picking a data structure that can answer these questions quickly.

---

# Lists and Tuples

Both lists and tuples are data structures containing a **sequence** (an **ordered collection**) of objects (of any type), and can be created with a construct known as a **list**/**tuple display**:

In [13]:
fruits = ['apple', 'orange', 'banana', 'mango']
fruits

['apple', 'orange', 'banana', 'mango']

In [0]:
type(fruits)

list

In [8]:
squares = (1, 4, 9, 16, 25) # Paratheses can be dropped; squares = 1, 4, 9, 16, 25
squares

(1, 4, 9, 16, 25)

In [0]:
type(squares)

tuple

The physical content of a list or a tuple consists of **object references** rather than actual objects:


<img src="https://raw.githubusercontent.com/justinjiajia/img/master/python/list.png" width=300 style="float: left; margin-bottom: 1.5em; margin-top: 1.5em; margin-right: 10%; " /><img src="https://raw.githubusercontent.com/justinjiajia/img/master/python/tuple.png" width=300 style="float: left; margin-top: 1.5em;"/>

The elements of a list or a tuple can be of varying types:

In [0]:
mixed_list = ['Mike', 1.83, True]

In [0]:
mixed_tuple = ('spam', 2, False)

Both lists and tuples are ***nestable***:

In [4]:
nested_list = [fruits, [2.0,  True]]
nested_list

[['apple', 'orange', 'banana', 'mango'], [2.0, True]]

In [9]:
nested_tuple = squares, ('spam', 5), True
nested_tuple

((1, 4, 9, 16, 25), ('spam', 5), True)



<img src="https://raw.githubusercontent.com/justinjiajia/img/master/python/nested_list.png" width=320 style="float: left; margin-bottom: 1.5em; margin-top: 1.5em; margin-right: 10%; "/><img src="https://raw.githubusercontent.com/justinjiajia/img/master/python/nested_tuple.png" width=355 style="float: left; margin-top: 1.5em;"/>

---
## Indexing

The elements of a list or a tuple can be indexed positionally in the same way as the characters in a string:

In [0]:
fruits

['apple', 'orange', 'banana', 'mango']

In [14]:
fruits[2]

'banana'

In [0]:
squares

(1, 4, 9, 16, 25)

In [15]:
squares[3]

16

In [16]:
squares[-1]

25

Accessing items in a subsequence can be done by simply appending additional indicies:

In [0]:
nested_list

[['apple', 'orange', 'banana', 'mango'], [2.0, True]]

In [5]:
nested_list[-2]

['apple', 'orange', 'banana', 'mango']

In [6]:
nested_list[-2][0]

'apple'

In [10]:
nested_tuple

((1, 4, 9, 16, 25), ('spam', 5), True)

In [17]:
nested_tuple[1][-2]

'spam'

In [ ]:
nested_tuple[1][-2][3]

**<font color='steelblue' > Question</font>**: What will be the result of `fruits[-2][3]`?

---
## Slicing

The slice operator also works with lists and tuples as it does with strings:

In [0]:
fruits[1:4]

In [0]:
fruits[:2]  # The slice starts at the beginning

In [0]:
squares[-3:-2]

In [0]:
squares[:]  # The slice goes to the end

---

## Operations on a List or a Tuple

Several Python operators and built-in functions can also be used with lists and tuples (in ways analogous to strings):

- The `+` operator concatenates lists or tuples, while the `*` operator repeats a list or a tuple a given number of times:

In [0]:
fruits + [True]

['apple', 'orange', 'banana', 'mango', True]

In [0]:
squares + (30, False)

(1, 4, 9, 16, 25, 30, False)

In [80]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [81]:
('spam', 2, True) * 2

('spam', 2, True, 'spam', 2, True)

- The operators `in` and `not in` do membership tests and return `True` or `False`:

In [134]:
'spa' not in 'spam'

False

In [82]:
30 in fruits

False

In [0]:
'spa' not in ('spam', 2, True)

- These two sequence types also support comparisons (using `<`, `>`, `==`, `>=`, `<=`, and `!=`). In particular,  lists and tuples are compared lexicographically using comparison of corresponding elements:

In [0]:
['Mike', 1.83, True] <= ['Mike', 1.80, False]

False

In [0]:
('spam', 2, False) <= ('spam', 2, True)

True

In [0]:
['Mike', 1.83, True] <= ['Mike', 1.80]

False

In [0]:
('spam', 2, False) <= ('spam', '2', True)

TypeError: '<=' not supported between instances of 'int' and 'str'

---
## Built-in Functions

- [`len()`](https://docs.python.org/3/library/functions.html#len) returns the number of elements in a list or a tuple:

In [0]:
len(fruits)

4

In [0]:
len(squares)

5

In [0]:
nested_list

[['apple', 'orange', 'banana', 'mango'], [2.0, True]]

In [0]:
nested_tuple

((1, 4, 9, 16, 25), ('spam', 5), True)

In [ ]:
len(nested_list)

In [ ]:
len(nested_tuple)

- [`max()`](https://docs.python.org/3/library/functions.html#max) ([`min()`](https://docs.python.org/3/library/functions.html#min)) returns the largest (smallest) element. Can work with elements of comparable types:

In [84]:
fruits

['apple', 'orange', 'banana', 'mango']

In [85]:
squares

(1, 4, 9, 16, 25)

In [18]:
max(fruits)  # based on lexicographic order

'orange'

In [0]:
min(squares)

1

- [`sum()`](https://docs.python.org/3/library/functions.html#sum) returns the sum of all elements in a sequence. Can only work with numeric elements:

In [0]:
sum(squares)

55

In [0]:
sum(fruits)

TypeError: unsupported operand type(s) for +: 'int' and 'str'


---
## Built-in Methods

- `s.index(x[, i[, j]])` returns index of the first occurrence of `x` in `s` (at or after index `i` and before index `j`):

In [86]:
repeated_list = ['Mike', 1.83, True] * 2
repeated_list

['Mike', 1.83, True, 'Mike', 1.83, True]

In [89]:
repeated_tuple = ('spam', 2, True) * 3
repeated_tuple

('spam', 2, True, 'spam', 2, True, 'spam', 2, True)

In [0]:
repeated_list.index(True, 3)

In [0]:
repeated_tuple.index('spam', 1, 4)

- `s.count(x)` returns the total number of occurrences of `x` in `s`:

In [87]:
repeated_list.count(True)

2

In [90]:
repeated_tuple.count('spam')

3

- Use `dir()` to display all the names accessible to a list or a tuple:

In [0]:
dir(repeated_list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [0]:
dir(repeated_tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

---
## Lists are Mutable

Once a list is created, elements can be added, deleted, shifted, and moved around at will. 

We can use indexing or slicing on the left side of an assignment to identify the elements to be modified:

In [91]:
fruits = ['apple', 'orange', 'banana', 'mango']
fruits

['apple', 'orange', 'banana', 'mango']

In [92]:
fruits[1] = 'melon'                 # item assignment
fruits

['apple', 'melon', 'banana', 'mango']

<img src="https://raw.githubusercontent.com/justinjiajia/img/master/python/list_v1.png" width=280/>

In [26]:
fruits[1:3] = ['orange', 'strawberry']   # slice assignment
fruits

['apple', 'orange', 'strawberry', 'mango']

The number of elements inserted need not be equal to the number replaced. Python just grows or shrinks the list as needed.

In [28]:
fruits[1:2] = ['melon', 'banana', 'pear']    
fruits

['apple', 'melon', 'banana', 'pear', 'strawberry', 'mango']

 We can delete elements out of the list by assigning an empty list to an appropriate slice:

In [29]:
fruits[3:5] = []
fruits

['apple', 'melon', 'banana', 'mango']



Consider the following **slice assignment**:

In [159]:
fruits[1:1]      # extract a zero-length slice right before the 2nd element

[]

In [93]:
# replace this zero-length slice with a new sequence; no actual replacement takes place
fruits[1:1] = ['peach', 'lemon']    
fruits

['apple', 'peach', 'lemon', 'melon', 'banana', 'mango']

<img src="https://raw.githubusercontent.com/justinjiajia/img/master/python/slice_assignment.png" width=620/>

List elements can also be deleted with [the `del` statement](https://docs.python.org/3/reference/simple_stmts.html#del):

In [94]:
del fruits[2:]

In [95]:
fruits

['apple', 'peach']

In [96]:
# slot a sequence into a single position; it is kept as a subsquence in the result
fruits[-1] = ['cherry', 'plum']   
fruits

['apple', ['cherry', 'plum']]

---
## Tuples are Immutable

In [0]:
squares[2] = 3

TypeError: 'tuple' object does not support item assignment

---
## What is Immutable, Really?

In [97]:
student = ('Bob', 19, ['R', 'VBA', 'SQL'])

In [98]:
skills = student[2]

In [99]:
skills[3:] = ['Python']  # The value of the list changes

In [135]:
student        # The value of the tuple changes accordingly. Isn't a tuple immutable?

('Bob', 19, ['R', 'VBA', 'SQL', 'Python'])

If any comparison fails, the entire sort will fail:

<div style="float: left; margin-right: 5%; margin-left: 1%;">Stage 1:<br>                                                         
<img src="https://raw.githubusercontent.com/justinjiajia/img/master/python/immutable_tuple_v1.png" width=320 />
</div>
<div style="float: left;">Stage 2: <br>
<img src="https://raw.githubusercontent.com/justinjiajia/img/master/python/immutable_tuple_v2.png" width=337 /></div>

What is immutable is the physical content of a tuple, consisting of the **object references** only.


---
## Conversions

We can convert between the different sequence types easily by using the type functions (e.g., `list()` and `tuple()`) to cast sequences to the desired types:

In [103]:
list((1, 4, 9, 16, 25))

[1, 4, 9, 16, 25]

In [104]:
list('string')

['s', 't', 'r', 'i', 'n', 'g']

In [105]:
tuple(['apple', 'orange', 'banana', 'mango'])

('apple', 'orange', 'banana', 'mango')

In [106]:
tuple('Python')

('P', 'y', 't', 'h', 'o', 'n')

<div class='alert alert-info'>Type functions are actually constructors of objects of the corresponding types, and are also called factory functions.</div>

Calling a type function without an argument constructs an empty object of the corresponding type:

In [107]:
list()

[]

In [108]:
tuple()

()


---
## Methods That Modify a List

Python provides several built-in methods that can be used to modify lists:

- `pop(index=-1)` takes the index of an element, and remove the element from the list. It returns the element that was removed:

In [138]:
fruits = ['apple', 'peach', 'lemon', 'melon']

In [139]:
fruits.pop(2)  # can be assigned to a variable

'lemon'

In [140]:
fruits

['apple', 'peach', 'melon']

In [141]:
apple = fruits.pop(-3)

In [142]:
apple

'apple'

In [143]:
fruits

['peach', 'melon']

**<font color='steelblue' >Question</font>**: How can we achieve the same goal by using item/slice assignments instead?

In [0]:
fruits = ['apple', 'peach', 'lemon', 'melon']

- `insert(index, object)` takes an element and insert it at a particular index. The return value is `None` (this applies to all following methods unless explicitly mentioned):

In [146]:
fruits = ['peach', 'melon']

In [147]:
fruits.insert(2, 'peach')

In [148]:
fruits

['peach', 'melon', 'peach']

In [149]:
fruits.insert(2, ['olive', 'banana']); fruits

['peach', 'melon', ['olive', 'banana'], 'peach']

- `remove(value)` takes an element and remove its 1st occurence:

In [150]:
fruits.remove('peach');

In [151]:
 fruits

['melon', ['olive', 'banana'], 'peach']

In [152]:
fruits.remove(['olive', 'banana']); fruits

['melon', 'peach']

In [153]:
fruits.remove('strawberry')  # Removing a non-existing elememt throws an error

ValueError: list.remove(x): x not in list

- `append(object)` takes an element and adds it to the end of a list:

In [53]:
fruits.append('plum'); fruits

['melon', 'peach', 'plum']

In [54]:
fruits.append(['litchi', 'banana']); fruits

['melon', 'peach', 'plum', ['litchi', 'banana']]

- `extend(iterable)` takes an iterable and appends all of its elements:

In [40]:
fruits.extend(['orange', 'mango'])  # equivalent to fruits = fruits + ['orange', 'mango']
fruits

['apple', 'peach', 'plum', ['litchi', 'banana'], 'orange', 'mango']

In [ ]:
fruits.extend('pear'); fruits

- `reverse()` reverses the elements of the list ***in place***:

In [0]:
fruits.reverse(); fruits

- `clear()` removes all elements from the list:

In [0]:
fruits.clear(); fruits

[]

- [`sort(key=None, reverse=False)`](https://docs.python.org/3/library/stdtypes.html#list.sort) sorts the list in ascending order ***in place***:

In [154]:
fruits = ['apple', 'orange', 'banana', 'mango']
fruits.sort()

In [155]:
fruits

['apple', 'banana', 'mango', 'orange']

If `reverse` is set to `True`, the list elements are sorted as if each comparison were reversed:

In [133]:
fruits.sort(reverse=True); fruits

['orange', 'mango', 'banana', 'apple']

If any comparison fails, the entire sort will fail:

In [0]:
employee = ['Charles', 'Business Analyst', 9, True]
employee.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

We can change the rule for comparison by specifying the comparison `key`:

In [0]:
employee.sort(key=str); employee

[9, 'Business Analyst', 'Charles', True]

`key` specifies the name of a ***1-argument*** function (e.g., `len`) to use to extract a comparison `key` from each element.

In [69]:
repeated_letters = ['aaaaa', 'bbbb', 'c', 'ddd', 'ee']
repeated_letters.sort(key=len)
repeated_letters

['c', 'ee', 'ddd', 'bbbb', 'aaaaa']

In [73]:
small_floats = [1.234, 2.3, 3, 2.678, 1.56, 0.89]
small_floats.sort(key=round)
small_floats

[1.234, 0.89, 2.3, 1.56, 3, 2.678]

In [156]:
divmod(11, 3)

(3, 2)

There is a built-in function, `sorted()`, that does the same thing but returns a new sorted list rather than modifying the original one in place:

In [0]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [157]:
sorted(fruits)

['apple', 'banana', 'mango', 'orange']

In [158]:
fruits

['apple', 'banana', 'mango', 'orange']

---
## Unpacking Containers

Python has a very powerful assignment feature, called **sequence unpacking**, that allows a sequence of variables on the left of an assignment to be assigned values from a sequence on the right of the assignment:

In [186]:
student = 'Bob', 19, 'Finance'
name, age, studies = student

In [187]:
name

'Bob'

In [188]:
studies

'Finance'

This does the equivalent of several assignment statements, all on one easy line.

When unpacking, the number of variables on the left must match the number of values in the sequence:

In [2]:
name, age = student

ValueError: too many values to unpack (expected 2)

Unpacking is also useful to swap the values of multiple variables:

In [190]:
name, age, studies = age, studies, name

In [192]:
name, age

(19, 'Finance')

Unpacking can be done ***deeply***:

In [175]:
(color, (coord_x, coord_y, coord_z)) = ('red', (1.2, 2.0, 3.9))

In [176]:
color, coord_y

('red', 2.0)


---
# The `*` Operator

In Python, the `*` character is not only used for **multiplication** and **replication**, but also for unpacking/packing.

Instead of ensuring that the number of values matches exactly, we can gather up any superfluous elements using it during unpacking:

In [193]:
numbers = (1, 2, 3, 4, 5)
first, *rest = numbers

In [194]:
first

1

In [195]:
rest

[2, 3, 4, 5]

In [75]:
first, *middle, last = numbers
middle

[2, 3, 4]

In [0]:
head, *body, tail = 'abc' 
head, body, tail

('a', ['b'], 'c')

The starred variable always ends up ***containing a list***.

The same kind of gathering can also be used before function parameters (later).

**<font color='steelblue' >Question</font>**: What does `first` hold after evaluating the following:

<pre>
((first, *remaining), *others) = fruits
</pre>


---

## List Comprehensions

As **expressions** that implement iteration protocol in Python, **comprehensions** allow a collection to be built from another collection by

- iterating over the items in the source collection in turn;
- in each iteration, dispensing one item from the source collection and running the item (that passes the test specified by the predicate) through the output expression;
- and collecting all the results to form the new collection. 

<br>

In [179]:
a_list = [1, '4', 9, 'a', 4]

In [197]:
isinstance(1, int)

True

In [200]:
[e ** 2 for e in a_list if isinstance(e, int)]

[1, 81, 16]

<img src="https://raw.githubusercontent.com/justinjiajia/img/master/python/comprehension.png" width=500/>

In [181]:
[e * 2 for e in a_list]

[2, '44', 18, 'aa', 8]

<div class='alert alert-info'> Objects that are capable of returining its members one at a time (or over which we can iterate) is called iterables</div>




The assignment of each item  to the **loop variable** can leverage sequence unpacking to make the handling of nested data easier:

In [182]:
gradebook = [['Alice', 95], ['Troy', 92], ['James', 89], ['Charles', 100], ['Bryn', 59]]
[score for name, score in gradebook]

[95, 92, 89, 100, 59]

In [202]:
score_only = [score for name, score in gradebook]
score_only.index(max(score_only))

3

In [ ]:
name, score = ['Alice', 95]

In [201]:
[score for name, score in gradebook if score > 90]

[95, 92, 100]

Comprehensions also work with other collections (e.g., **dictionaries**, **sets**, etc.) as we will see.

---

# Dictionaries


| Name |  Income | Years | Criminal | 
|-----|-----|-----|-----| 
| Amy | 27 |4.2 |  No |  
| Sam | 32 |1.5 |  No | 
|         ...         |

In [ ]:
customer_1 = ['Amy', 27, 4.2, 'No']
customer_2 = ['Sam', 32, 1.5, 'No']

But why not attach labels to individual items to reflect the meaning of our data:

In [ ]:
customer_1 = {'name': 'Amy', 'income': 27, 'years': 4.2, 'criminal': 'No'}
customer_2 = {'name': 'Sam', 'income': 32, 'years': 1.5, 'criminal': 'No'}

It leads to a new data structure supported by Python, called **dictionaries**.

A dictionary is a container that maps a set of labels called **keys** to a set of values. The dictionary is the first compound type that we've seen that is not a **sequence**.

The association of a key and a value is called a **key-value pair**, and a dictionary can be defined by using the `{key: value}` syntax:

In [205]:
gradebook = {'Alice': 95, 'Troy': 92, 'James': 89}; gradebook

{'Alice': 95, 'Troy': 92, 'James': 89}

In [213]:
type(gradebook)

dict

<div class='alert alert-info'> Dictionary entires could have a different order when this display runs on Google Colab. It is because Google Colab uses an older Python version (Python 3.6) than Jupyter Notebook in the latest Anaconda distribution (Python 3.7). Python is a language that keeps evolving. Python dictionaries have started preserving the order of insertion of keys since Python 3.7. </div>

Dictionary keys are ***unique*** and can be any ***immutable*** data type (e.g., numbers, strings, Booleans, tuples containing only immutable elements):

In [214]:
spnum = {1: 'uno', 2: 'dos', 3: 'tres', 1: 'one'}; spnum

{1: 'one', 2: 'dos', 3: 'tres'}

In [204]:
{[1]: 'uno', 2: 'dos', 3: 'tres'}

TypeError: unhashable type: 'list'

Unlike **sequences**, which are indexed by a range of integers, dictionaries are ***indexed by keys***:

In [215]:
# values can be accessed via keys
gradebook['James']

89

In [216]:
# cannot be accessed by position
gradebook[2]

KeyError: 2

Dictionaries don't support slicing:

In [0]:
gradebook['Alice':'James']

TypeError: unhashable type: 'slice'

Similar to lists, dictionaries (more accurately, dictionary values) are ***mutable*** and can grow and shrink as needed. 

Assigning a new value to an existing key updates an entry:

In [ ]:
gradebook

In [ ]:
gradebook['Troy'] = 59; gradebook

In [ ]:
spnum[1] = 'uno'; spnum

Assigning a new key and value adds an entry:

In [ ]:
gradebook['Charles'] = 100; gradebook

In [0]:
spnum[4] = 'cuatro'; spnum

Use the `del` statement with the key specified to delete an entry:

In [221]:
del gradebook['Charles']; gradebook

{'Alice': 95, 'Troy': 59, 'James': 89}

In [0]:
del spnum[4]; spnum

Python dictionaries are nestable and versatile:

In [0]:
person = {'fname': 'Joe', 'lname': 'Fonebone', 'age': 51, 'spouse': 'Edna', 'children': ['Ralph', 'Betty', 'Joey'], 
          'pets': {'dog': {'name': 'Fido', True: ['healthy', 'lovely']}, 'cat': 'Sox'}, 
          ('email', 'mobile'): 'contact info'}
person

Simply append additional indicies or keys to retrieve values in a sublsequence or subdictionary:

In [0]:
person['pets']['dog'][True][1]

---
## Operators and Built-in Functions

Many of the operators and built-in functions that can be used with sequences work with dictionaries as well. But they operate ***primarily on keys of dictionaries***:

- The membership operator:

In [0]:
gradebook

{'Alice': 95, 'Troy': 92, 'James': 89}

In [0]:
spnum

{1: 'uno', 2: 'dos', 3: 'tres'}

In [222]:
'Troy' in gradebook

True

In [223]:
'dos' not in spnum

True

- The `*` operator:

In [224]:
head, *middle, tail = gradebook
head, middle, tail

('Alice', ['Troy'], 'James')

In [225]:
first, *rest = spnum
first, rest

(1, [2, 3])

- The following show the effects of common built-in fucntions when working with dictionaries:

In [226]:
max(gradebook)

'Troy'

In [227]:
min(spnum)

1

In [228]:
sorted(gradebook)

['Alice', 'James', 'Troy']

In [229]:
len(spnum)

3

---
## Dictionary Methods

As with lists and tuples, there are several built-in methods that can be invoked on dictionaries. Call `dir()` to list all the names available for a dictionary object:

In [0]:
dir(gradebook)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

---

### Methods for Dictionary Traversals

We'll often be in situations where we want to traverse the keys and values of a dictionary separately.

- [`values()`](https://docs.python.org/3/library/stdtypes.html#dict.keys) ([`keys()`](https://docs.python.org/3/library/stdtypes.html#dict.keys)) returns a **dictionary view** consisting of only `value`s (`key`s):

In [230]:
spnum.values()   # a dictionary view object

dict_values(['uno', 'dos', 'tres'])

In [231]:
spnum.keys()

dict_keys([1, 2, 3])

<div class="alert alert-info">Dictionary views are read-only and dynamic. They will be updated when we modify the dictionary from which they are derived.</div>

- [`items()`](https://docs.python.org/3/library/stdtypes.html#dict.items) returns a **dictionary view** consisting of `(key, value)` pairs:

In [232]:
gradebook.items()

dict_items([('Alice', 95), ('Troy', 59), ('James', 89)])

In [233]:
spnum.items()

dict_items([(1, 'uno'), (2, 'dos'), (3, 'tres')])

Dictionary views can be iterated over to yield their respective data:

In [234]:
[(name, score + 5) for name, score in gradebook.items()]

[('Alice', 100), ('Troy', 64), ('James', 94)]

We can use the dictionary-like syntax in comprehensions (**dictionary comprehensions**) to construct new dictionaries:

In [0]:
{name: score + 5 for name, score in gradebook.items()}

{'Alice': 100, 'Troy': 97, 'James': 94}

**<font color='steelblue' >Question</font>**: let's assume that dictionaries preserve the order of insertion. 

Write code to mimic the slice operation on the following dictionary:

<pre>
students = {'Tom': 90, 'Kitty': 89, 'Jessie': 94, 'Chester': 86, 'Curie': 82, 'Nancy': 97, 'Turing': 93}
</pre>

For example, try to extract the segment starting from the 2nd entry and ending at the 4th one. 

The result should look like:

<pre>
{'Kitty': 89, 'Jessie': 94, 'Chester': 86}
</pre>

In [0]:
{name: score for name, score in students.items() if name in list(students)[1:4]}  # this works with Python 3.7

---

### Optional: Other Noteworthy `dict` Methods


- [`get(<key>[, <default>])`](https://docs.python.org/3/library/stdtypes.html#dict.get) returns the value for `key` if `key` is present, else `default` (defaulting to `None`):

In [0]:
gradebook.get('Alice')

In [0]:
gradebook.get('Bryn')

In [0]:
gradebook.get('Bryn', -1)

- [`dict.pop(key[, default])`](https://docs.python.org/3/library/stdtypes.html#dict.pop) removes the corresponding entry and return its value if `key` is present, else return `default`:

In [0]:
gradebook.pop('Alice')

In [0]:
gradebook

In [0]:
gradebook.pop('Bryn')  # raise a KeyError

KeyError: 'Bryn'

In [0]:
gradebook.pop('Bryn', -1)  # No error is raised

- [`dict.popitem()`](https://docs.python.org/3/library/stdtypes.html#dict.popitem) removes the ***last*** key-value pair from a dictionary (guaranteed since Python 3.7) and returns it as a tuple (`(key, value)`). It raises a `KeyError` exception when the dictionary is empty:

In [0]:
gradebook.popitem()

In [0]:
gradebook

- [`dict.update(<other>)`](https://docs.python.org/3/library/stdtypes.html#dict.update) merges a dictionary with

    - another dictionary;
    - an object that can produce pairs of keys and values (e.g., a list of tuples that represent key-value pairs);
    - or the values specified as a list of <b>*keyword arguments*</b>:

In [0]:
gradebook.update(spnum); gradebook

In [0]:
spnum.update({1: 'one', 4: 'four'}); spnum

In [0]:
spnum.update([(1, 'uno'), (4, 'cuatro')]); spnum # or [[1, 'uno'], [4, 'cuatro']]

In [0]:
gradebook.update(Amy = 77); gradebook

In [0]:
spnum.update(5 = 'cinco'); spnum

SyntaxError: keyword can't be an expression (<ipython-input-12-241fce533113>, line 1)

In [0]:
spnum.update([[2, 'dos'], [4, 'cuatro']]); spnum




---
## Conversions


A dictionary can also be constructed by casting a collection of key-value pairs to the `dict` type with the `dict()` function:

In [235]:
dict([("red", 34), ("green", 30), ("brown", 31)])  # or dict((("red", 34), ("green", 30), ("brown", 31)))

{'red': 34, 'green': 30, 'brown': 31}

We have to be more careful when converting a dictionary to a collection of other types:

In [237]:
marbles = dict([("red", 34), ("green", 30), ("brown", 31)])
marbles

{'red': 34, 'green': 30, 'brown': 31}

In [238]:
list(marbles)           # the keys will be used by default

['red', 'green', 'brown']

In [0]:
# use a view to get the values
tuple(marbles.values())

In [239]:
# or the key-value pairs
list(marbles.items())

[('red', 34), ('green', 30), ('brown', 31)]

---

# Optional: Sets

A set is an ***unordered***, ***mutable*** collection of ***distinct immutable*** elements.

***Non-empty*** sets can be created by using the curly brace notation (`{}`):

In [ ]:
integers = {5, 2, 3, 1, 4, 2}; integers # The duplicate will be eliminated

In [0]:
type(integers)

In [ ]:
mammals = {'cat', 'dog', 'rabbit', 'pig', 'cat'}; mammals  # Sets do not record element position

An ***empty*** set can only be defined with the `set()` function.


The elements in a set can be objects of different types. But they must be ***immutable***:

In [0]:
{42, 'ham', 3.14159, None, ('Amy', True)}

In [0]:
{42, 'ham', 3.14159, None, ['Amy', True]}

TypeError: unhashable type: 'list'

## Operations on Sets

Like other collections, sets support `x in set` and `len(set)`:

In [0]:
len(integers)

In [0]:
'parrot' not in mammals

However, sets do not support indexing, slicing, or other ***sequence-like*** behavior, because they do not record element position or order of insertion.

In [0]:
dir(integers)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [0]:
help(integers.pop)

Help on built-in function pop:

pop(...) method of builtins.set instance
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

### Set Operations

Many operations on set objects generally mimic the operations that are defined for <b>*mathematical sets*</b>. They can be performed either ***by operator*** (operands must be sets) or ***by method*** (taking any collection as an argument): 

- `union(*others)` or `set | other | ...`: return a new set with elements from the set and all others.

- `intersection(*others)` or `set & other & ...`: return a new set with elements common to the set and all others.

- `difference(*others)` or `set - other - ...`: return a new set with elements in the set that are not in the others.

- `symmetric_difference(other)` or `set ^ other ^ ...`: return a new set with elements in either the set or other but not both.

In [0]:
group1 = {'Amy', 'Sam', 'Oliver', 'Emma'}
group2 = {'Faye', 'Emma', 'Jay', 'Sam'}
group3 = {'Emma', 'Alan', 'Amy', 'Jay'}

<img src="https://drive.google.com/uc?export=download&id=1gBZ_QTewEKEVQYM3tFSQ7ZLHdNGVGZV6" width=300 />

In [0]:
group1 | group2

In [0]:
group1.union('Ben')

In [0]:
group1 & group2 & group3

In [0]:
group2.intersection((2, 3), (1, 3))

In [0]:
group1.difference(group2)

In [0]:
group1 - group2 - group3  # evaluated from left to right

In [0]:
group1.symmetric_difference(group2)

In [0]:
group1 ^ group2 ^ group3  # evaluated from left to right

- [`isdisjoint(<other>)`](https://docs.python.org/3/library/stdtypes.html#frozenset.isdisjoint) method determines whether or not two sets have any elements in common:

In [0]:
group1.isdisjoint(group2)

In [0]:
group1.isdisjoint('Amy')

- The `<=` (`<`) operator or [`issubset(other)`](https://docs.python.org/3/library/stdtypes.html#frozenset.issubset) method determines whether one set is a (***proper***) subset of the other. By contrast, the `>=` (`>`) operator or [`issuperset(other)`](https://docs.python.org/3/library/stdtypes.html#frozenset.issubset) method determines whether one set is a (***proper***) superset of the other:

In [0]:
group1 - group2 <= group1

In [0]:
group3 < group3

In [0]:
group1 | group2 > group1

---
## Methods That Modifying a Set

We can grow and shrink a set as needed by using a mix of operators and methods:



- [`update(others)`](https://docs.python.org/3/library/stdtypes.html#frozenset.update) or `set |= other | ...` modifies a set by union.



- [`intersection_update(others)`](https://docs.python.org/3/library/stdtypes.html#frozenset.intersection_update) or `set &= other & ...` modifies a set by intersection.


- [`difference_update(others)`](https://docs.python.org/3/library/stdtypes.html#frozenset.difference_update) or `set -= other | ...` modifies a set by by difference.


- [`symmetric_difference_update(other)`](https://docs.python.org/3/library/stdtypes.html#frozenset.symmetric_difference_update) or `set ^= other` modifies a set by symmetric difference.


- [`add(elem)`](https://docs.python.org/3/library/stdtypes.html#frozenset.add) adds a single immutable object to a set.



- [`remove(elem)`](https://docs.python.org/3/library/stdtypes.html#frozenset.remove) or [`discard(elem)`](https://docs.python.org/3/library/stdtypes.html#frozenset.discard) removes an element from a set. They differ in whether to raise an exception if the element is not in the set.

- [`pop()`](https://docs.python.org/3/library/stdtypes.html#frozenset.pop) removes and returns a random element from a set. Raise an exception if the set is empty.

---
## How to Define a Set of Sets?

In [0]:
odd_numbers = set([1, 3, 5])

In [0]:
even_numbers = set([2, 4, 6])

In [0]:
integers = {odd_numbers, even_numbers}

TypeError: unhashable type: 'set'

Python provides another built-in type called a **frozenset**, which is in all respects exactly like a set, except that a frozenset is ***immutable***.

In [0]:
odd_numbers = frozenset([1, 3, 5])

In [0]:
even_numbers = frozenset([2, 4, 6])

In [0]:
integers = {odd_numbers, even_numbers}
integers