[Whatâ€™s Markdown?](https://www.markdownguide.org/getting-started)

[Basic Syntax](https://www.markdownguide.org/basic-syntax/)



At their base, programs written in Python are composed of <b>*expressions*</b>, which are "phrases" of code Python ***evaluates to produce values***. 

- Expressions often contains <b>*operators*</b>, a set of special symbols that carry out computations. 

---

# Using Python as a Calculator




 

The <font color='royalblue'><b>*arithmetic operators*</b></font> `+`, `-`, `*`, `/`, and `**` perform addition, subtraction, multiplication, division, and exponentiation:

In [ ]:
1.2 + 2

In [ ]:
5 * 2

In [ ]:
5 ** 2        # 5 squared

<div class="alert alert-info">
 In computer science, a literal is a notation for representing a fixed value in source code.</div>

Parentheses (`()`) can be used for grouping:

In [ ]:
(15 - 10) * 2 / 5

The `//` operator performs <font color='royalblue'><b>*integer or floored division*</b></font> that keeps only the integer part of the result, while the `%` operator calculates the remainder:

In [ ]:
5 * 3 + 2

In [ ]:
17 / 3    # always return a result with a fractional part

In [ ]:
17 // 3   # discard the fractional part

In [ ]:
17 % 3    # return the remainder of the division

---
# Comparing Values

<font color='royalblue'><b>*Comparison (relational) operators*</b></font> are used to compare values on either sides of them. It returns either of the two <font color='royalblue'><b>*Boolean*</b></font> values, `True` and `False`.

In [ ]:
2 > 5

In [ ]:
# chained in the mathematically obvious way
# it can only be written as 2 < 5 and 5 <= 5.0 in other languages
2 < 5 <= 5.0

The table summarizes comparision operators:

| Operator | Meaning |
|----|---|
| == | Equal to - `True` if both operands are equal |
| !=  | Not equal to - `True` if operands are not equal |
| < | Less than - `True` if left operand is less than the right |
| > | Greater than - `True` if left operand is greater than the right |
| <=  | Less than or equal to - `True` if left operand is less than or equal to the right |
| >=  | Greater than or equal to - `True` if left operand is greater than or equal to the right |

---


## Boolean Values: `True` and `False`


In computer science, the **Boolean data type** (`bool` for short in Python) is a data type that can only take on two truth values, `True` or `False`, intended to represent the truth values of logic and Boolean algebra.


 
 <img src="https://raw.githubusercontent.com/justinjiajia/img/master/python/truefalse.png" width="300" />

In [ ]:
True           # reserved keywords; in bold

In [ ]:
False

----

# Logical Operators

<font color='royalblue'><b>*Logical (Boolean) operators*</b></font> `and`, `or` and `not` perform Boolean logic upon two Boolean expressions and return Boolean results (`True` or `False`).

In [ ]:
not True                         # only require one operand

In [ ]:
True and False

In [ ]:
2 < 5 and not False

In [ ]:
2 < 5 and 5 < 5.0 or 5 < 1024

Logical operators in Python are summarized as follows. The order indicates the relative levels of precedence (ordered by descending priority):


|Operator|Meaning|
|:-- |:-- |
|not|True if operand is false (complements the operand)|
|and|True if both the operands are true|
|or|True if either of the operands is true|

---
# Objects and Their Types

Everything in Python is an object, and every object has  an <font color='royalblue'><b>*identity*</b></font>, a <font color='royalblue'><b>*type*</b></font>, and a <font color='royalblue'><b>*value*</b></font>.

The built-in function `type()` returns an object's type:

In [ ]:
type(True)

In [ ]:
type(5**2)

In [ ]:
type(2.0)  # with a decimal point

In [ ]:
type(3.8e15)  # with an exponent; base 10

In [ ]:
type(15 / 5)

In [ ]:
type(17 // 3)

In [ ]:
type(17 % 3)

 ---
 
 <img src="https://drive.google.com/uc?export=download&id=1Piv8HYgP4AZOFq-l4NE01w03SJHiB9nQ" width="250"></img>
 
 In a computer's memory, everything is **bits**:
 
   <img src="https://raw.githubusercontent.com/justinjiajia/img/master/python/code.jpg" width="450" /> 
  



What a type does is two things:

- First, it tells a program, you should be reading these sequences in chunks of, let's say, 32 bits.

- Second, it tells what a sequence of bits represent.
   - Does `11101000 10110010 10010011` represent "è²“" or 15250067?



<img src="https://drive.google.com/uc?id=19zYct-z0nt46oiV3bF-bavFnc-8Pj_yy" />




An object's  <font color='royalblue'><b>*type*</b></font> determines:

- A domain of possible values, e.g.:

    - `True` and `False` have type `bool` (short for Boolean values);
    - The integer numbers (e.g., `1`, `2`, `-34`, `1024`) have type `int`;
    - The numbers with a decimal point or an exponent (or both) (e.g., `2.0`, `3.2`, `.3`, `3.8e15`) have type `float` (short for floating-point numbers).
    
- A set of possible operations that can be performed on these values (e.g., common integer arithmetic operations are `+`, `-`, `*`, and `/`).

---
# Variables

One of the most powerful features of a programming language is the ability to manipulate  <font color='royalblue'><b>*variables*</b></font>. In Python, a variable is a name that refers to an object.

Using the equal sign (`=`), an assignment statement defines a variable by

- Evaluating the expression on the right of `=` to construct a new or retrieve an existing object;

- Binding a name on the left of `=` to the object.

In [ ]:
width = 10



<img src="https://drive.google.com/uc?export=downlad&id=1uheGvQwd1QKA31079wrb00oz69TPBphp" width=120 />

In [ ]:
height = 12

<img src="https://drive.google.com/uc?export=download&id=1noQk14W8DapSobdMD42fhPbgNd-v405K" width=125></img>

When we enter a name in Python, it gives us back the object bound to it:

In [ ]:
width

In [ ]:
height

In [ ]:
area = width * height

<img src="https://drive.google.com/uc?export=download&id=1dVjPAGUcdzucr4NvTkYjgQThUallxHDA" width=300></img>

In [ ]:
area

In [ ]:
width = width + 5

<img src="https://drive.google.com/uc?export=download&id=1P52qb9mI3ZYKExxKmqmmohINoIg6E80L" width=185></img>

In [ ]:
width

---

## Compound/Augmented Assignment Operators

`width = width + 5` examplifies a very common operation. Python provides a shorthand operator, `+=`, to express it more cleanly in

In [ ]:
width += 5
width

Similar operators (<font color='royalblue'><b>*compound/augmented assignment operators*</b></font>) include `-=`, `*=`,  `%=`, and so on:

In [ ]:
width /= 5; width

Multiple names can be bound to the same object:

In [ ]:
i = 5; j = i


<img src="https://drive.google.com/uc?export=download&id=1p05AgnyGy0PpSEK1wOC62lwC-QVzOq6l" width="100"/></img>

To see this, we can use the `id()` function to return an integer representing the identity of the object:

In [ ]:
id(i)

In [ ]:
id(j)

**<font color='steelblue' > Question </font>**: What is the value of `j` after evaluating `i += 7`?

---

## Naming Conventions

Python has some rules to follow when forming a variable name:

- Can contain both letters (uppercase or lowercase), digits (but cannot start with a number), and the underscore character (_).

- Python's keywords cannot be used as variable names, because the Python interpreter uses them to recognize the structure of the program.

In [ ]:
import keyword

In [ ]:
keyword.kwlist

A good coding style requires a variable name to be  ***descriptive***  and  ***mnemonic***.

In [2]:
course_code = "ISOM3400"
course_credit = 3              
is_elective = True

----
# Functions

> Programming = Data + Function

A function is a machine which turns input objects (called the arguments) into an output object (called the return value), according to a definite rule (defined somewhere for this function).



We can  draw an analogy of a programming function to a mathematical function. 



Consider $f(a,b)=a^2+b^2$:

- A function definition usually associates a name (i.e., $f$) with a sequence of statements that performs a computation (i.e., $a^2+b^2$).

- Once a function is defined, we can "call" it by name with necessary inputs provided (i.e., $f(3,5)$).

- When a function is called or invoked, Python goes back and looks up its definition, executes the code inside the function definition (i.e., $3^2+5^2$), and return an output (i.e., $34$).

Python provides a number of [built-in functions](https://docs.python.org/3/library/functions.html) that we can use without needs to provide the function definition as well as import an external module:

In [ ]:
abs(-5.11)

In [ ]:
round(4.55892, 2)

In [ ]:
max(1, 2, 3, 4, 5)

In [ ]:
min(1, 2, 3, 4, 5)

In [ ]:
pow(2, 3)

In [ ]:
divmod(9, 2)

Typing a function's name without `()` echos "the value" or more precisely the <font color="royalblue">**string representation**</font> of the function:

In [ ]:
max

If the usage of a function is unknown, we can call `help()` to print help for the function:

In [ ]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

---
# Strings

Besides numbers and Booleans, Python can also manipulate strings, which are sequences of characters.

Strings are constructed by enclosing string literals in single quotes (`'`) or double quotes (`"`):

In [ ]:
'Welcome to Python Programming'

In [ ]:
"Welcome to Python Programming"

In [ ]:
"Welcome to Python Programming" is 'Welcome to Python Programming'

 Single quoted strings can contain double quotes, and vice versa

In [ ]:
"Programming isn't hard."

In [ ]:
'"Yes", they said.'

What if we have to use single (double) quotes literally in a single(double)-quoted string? Escape their special behaviors with backslashes (`\`):

In [ ]:
'"No, it isn\'t", they said'

When we press the <kbd class="">Enter</kbd> key, a <b>*newline character*</b> (`\n`) is generated to signify the end of a line. Typically, Python uses newlines to delineate statements. 

We can make a string literal span multiple lines by including a backslash character `\` at the end of each line to escape the newline (`\n`):

In [ ]:
'Python Programming \
for Business Analytics'

String literals inside triple quotes, `"""` or `'''`, can span multiple lines of text. Newlines (`\n`) are automatically included in the string literal.

In [ ]:
'''Python Programming
for Business Analytics'''

`print()` is used to display the actual string represented by a string literal:

In [ ]:
print('ISOM3400\nPython Programming\nfor Business Analytics')

## Escape Sequences

An  <font color='royalblue'><b>*escape sequence*</b></font> (of characters) can be used to denote a special character which cannot be typed easily on a keyboard or one which has been reserved for other purposes.

Some common escape sequences include:

|Sequence|Meaning|
|:-- |:-- |
|`\\`|literal backslash|
|`\'`|single quote|
|`\"`|double quote|
|`\t`|tab|
|`\n`|newline|

**<font color='steelblue' > Question </font>**: How to print the following using escape sequences:

`I don't think "a" is equal to "A" in 'Python'`

## Accepting User Inputs

Programs often need to obtain data from the user, usually by way of input from the keyboard. The simplest way to accomplish this in Python is with `input()`.

`input(prompt)` prompts for and returns input as a string. We can assign what is returned into a variable, to be used later.

In [ ]:
name = input("What is your name?")
age =  input("What is your age?")      
gender = input("What is your gender?")

In [ ]:
name

In [ ]:
type(name)

To display the contents of these variables, pass them as a comma-separated list of argument to `print()`. By default, `print()` separates the content of each argument by a single space and appends a newline to the end of the output:

In [ ]:
print(name, 'is', gender, 'at', age, 'years old.')

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
print(name, 'is', gender, sep='-', end=' ')
print('at', age, 'years old.', sep='-')

## String Operations

In Python, strings have type `str`, which is a special kind of <font color="royalblue"><b>*sequence types*</b></font> (later). String objects support several operations and built-in functions.

- The operators `+` and `*` works with strings:

In [ ]:
course = 'Python Programming'

In [ ]:
course + ' for Business Analtytics'

In [ ]:
course * 2

- `-` and `/`, however, are incompatible with the `str` type:

In [ ]:
course - 2

TypeError: ignored

In [ ]:
course / 2

TypeError: ignored

- The  <font color="royalblue"><b>*membership operators*</b></font> `in` and `not in` take two strings and return True if the first appears as a substring in the second:

In [ ]:
'nan' in 'banana'

In [ ]:
'p' in 'Python Programming'


-  The comparison operators (e.g., `==`, `>`, `<=`) compare strings ***lexigraphically***, the way in which sequences are ordering  based on the <b>*alphabetical order*</b> of their component characters:

   - In alphabetical ordering, digits come before letters and capital letters come before lowercase letters.
     - i.e., digits (as characters) < uppercase letters < lowercase letters.
   - Compare the leftmost characters first, and generate `True` or `False` if their values differ, or continue until a difference is observed.

In [ ]:
'Python Programming' == 'python programming'

In [ ]:
'Python Programming' < 'python programming'

In [ ]:
'python programming' < 'python cookbook'

In [ ]:
'9999' < 'A'

- `len()` returns the number of characters in a string:

In [ ]:
len(course)

In [ ]:
len(1024)

TypeError: ignored

## String Indexing

A string is a sequence of characters, and is ***reducible*** to the component characters.

The characters in a string are indexed by integers (representing positions in the sequence), and can be individually accessed by using the indexing operator (`[]` that encloses an integer).

The index set contains the integers 0, 1, â€¦, and `len()-1` (<font color="royalblue"><b>*0-based indexing*</b></font>).

<img src="https://drive.google.com/uc?export=download&id=1EHN00tdfvArl7ci6ulNN2KS9_Or3yzWa" width=600></img>

In [ ]:
course[2]

Strings can also be  <font color="salmon">***back indexed***</font> using negative integers. Negative indexing counts backward from the end of a sequence and starts from `-1`.
- i.e., `-1` refers to the last character, `-2` the second-to-last character, and so on

In [ ]:
course[-3*6]

Out of range indexing will incur an error:

In [ ]:
course[18]

IndexError: ignored

---

## String Slicing

Slicing is an operation that extracts a segment of a string (called a slice).

The slicing operator `[i:j]` returns the part of the sequence from the element indexed by `i` to the element indexed by `j`, including the first but excluding the last:

In [ ]:
course[0:6]

In [ ]:
course[-18:-12]

In [ ]:
course[0:-12]

In [ ]:
course[-11:18]

If the 1st argument is omitted, the slice starts at the beginning of the string; if the 2nd argument is omitted, the slice goes to the end of the string:

In [ ]:
course[-11:]

In [ ]:
course[:-12]

---

## Optional: Extended Slicing

Strings support extended slicing with a third step argument supplied in the operator `[]` as in `[i:j:k]`. 


`[i:j:k]` first extracts the element indexed by $i$,  and counts either forward or backward (depending on the sign of $k$) with step size $|k|$ to find the second element. This search repeats until it goes beyond the element indexed by $j-1$.

In [ ]:
course[-11:18:2]

In [ ]:
# Because the step size is negative, 
# the character referred to by the 1st argument should succeed that referred to by the 2nd 
course[17:0:-1]

In [ ]:
course[-13::-2]

In [ ]:
course[::-3]

---

## Strings are Immutable

Strings in Python is  <font color="salmon">***immutable***</font>. That is, the value of string objects cannot change:

In [ ]:
course[7] = 'p'  # Modifying characters isn't allowed.

TypeError: ignored

However, this does not mean that we can't change the value of a variable (more precisely, the object that a name refers to). We can assign the variable a new string:

In [ ]:
course = 'ISOM 3400'

<img src="https://drive.google.com/uc?export=download&id=1jh0OdfUOwEy8EUT96aPUfVvmBAG_v5gZ" width=700></img>

An object's <font color="royalblue"><b>*mutability*</b></font> is determined by its type. Numbers and Booleans are also immutable (we will see some mutable data types later).

## String Formatting


`print() ` supports ouput formatting that is rudimentary at best.  In many cases, we'll need more precise control over the appearance of data destined for display. 

Python provides several ways to format output string data.

In [ ]:
shares = 3.2; stock = 'Apple'; price = 443.05

In [ ]:
'purchase %d shares of %s at $ %.0f per share' % (shares, stock, price)

In [ ]:
'purchase {} shares of {} at $ {:.1f} per share'.format(shares, stock, price)

### "Old Style": The `%` Operator

Using `%`, known as the ***interpolation operator***, with a string lets us do simple positional formatting easily. 

It takes the  <font color="salmon">***conversion specifiers***</font> (starting with `%`) on the left and the values on the right, producing a formatted string:

<img src="https://drive.google.com/uc?export=download&id=1h2heHfSZQ69Xtihh2NaMfQZatLS4Hl1Z" width=550/>

- In addition to representing the string interpolation operation, the `%` character also denotes the conversion specifiers, e.g., `%d`, `%s`, and `%.0f`, and the replacement fields in a format string.
- Each value is converted to a string value with the specified format and inserted into the format string in place of the corresponding replacement field (matched by position).

---

#### Optional: Conversion Specifiers

A conversion specifier contains 2 (% and a letter specifying conversion type; required) or more (optional) characters (allowing for more fine-grained control over how values are printed) to determine how values are formatted when theyâ€™re inserted:

The constructs of a conversion specifier is structured as follows:

`%[<flags>][<width>][.<precision>]<type>`


|Component|Meaning|Possible Values|
|:-- |:-- |:--|
|`%`|Introduces the conversion specifier|
|`<type>`|Indicates the type of conversion to be performed|`d` for decimal integers <br>`f` for floating point numbers <br>`e` for exponential numbers <br> `s` for strings
|`.<precision>`|Determines the length and precision of floating point, exponential,  <br>or string outputs|
|`<width>`|Specifies the minimum width of the formatted result|
|`<flags>`|Indicates one or more flags that exert finer control over formatting|`0` for padding of values<br>`-` for justification of values


<br>

<div class="alert alert-info">More details on format specifications can be found <a href="https://docs.python.org/3/library/stdtypes.html#printf-style-string-formatting">here</a>.</div>

In [ ]:
'purchase %d shares of %s at $ %f per share' % (shares, stock, price)  # The default precision of 'f' is 6.

In [ ]:
'purchase %06d shares of %.3s at $ %.0f per share' % (shares, stock, price)

In [ ]:
'purchase %-6d shares of %-10s at $ %.2e per share' % (shares, stock, price)

To insert a literal `%` character into the output, specify two consecutive `%` characters in the format string:

In [ ]:
"%s's stock is trading %.0f%% off of %d-week highs" % ('Google', 0.1845 * 100, 52.5)


---

### "New Style": `str.format()`


 This "new style" string formatting gets rid of the `%` operator special syntax and makes the syntax for string formatting more regular. Formatting is now handled by calling `.format()` on a string object.
 
We can do simple positional formatting, just like we could with "old style" formatting, with replacement fields denoted by `{}`:

In [ ]:
'purchase {} shares of {} at $ {} per share'.format(shares, stock, price)

The syntax allows for rearranging the order of display (and interpolating values into multiple places) by referring to the positions of the arguments (base-0 indexing):

In [ ]:
'purchase {2} shares of {0} at $ {1} per share'.format('Google', 203.83, 11.4)

In [ ]:
'{1}    {0:.1f}    {1}    {0:.0f}'.format(price, stock)

We can also refer to the value substitutions by name and use them in any order:

In [ ]:
'purchase {shares} shares of {stock} at $ {price} per share'.format(stock='Google', price=203.83, shares=11.4)

---

#### Optional: Format Specifications

The new style of string formatting also allows us to specify how individual values are presented in the format string. The structure of a format specification is shown as follows:


` [[<fill>]<align>][<sign>][#][0][<width>][<grouping_option>][.<precision>][<type>]`

```
fill            :  <any character>
align           :  "<" | ">" | "=" | "^"
sign            :  "+" | "-" | " "
width           :  digit+
grouping_option :  "_" | ","
precision       :  digit+
type            :  "b" | "c" | "d" | "e" | "E" | "f" | "F" | "g" | "G" | "n" | "o" | "s" | "x" | "X" | "%"
```


A format specficiation is introduced by a colon `:` that optionally follows the name or position of the argument to be assigned to the replacement field:

In [ ]:
'purchase {2:.0f} shares of {0:_^12} at $ {1:+} per share'.format('Google', 203.83, 11.4)

In [ ]:
"{:e<12}'s stock is trading {:.1%} off of {:.0f}-week highs".format('Google', 0.1845, 52.5)

"Googleeeeeee's stock is trading 18.4% off of 52-week highs"

<div class="alert alert-info">More details on the new-style string formatting syntax can be found <a href="https://docs.python.org/3/library/string.html#format-string-syntax">here</a>.</div>

The eligible presentation types are dependent on the type of the value to format. Contrary to the old stype of string formatting, there's no conversion from one type to another:

In [ ]:
"{:e<12}'s stock is trading {:s} off of {:d}-week highs".format('Google', 0.1845, 52.5)

If we want to present a floating point number as an integer,   `int()` should be used to convert the floating point number to an integer before formatting.

---
# Type Conversion


Built-in functions like `str()`,  `int()`, `bool()`, and `float()` will try to convert anything to their respective types:

In [ ]:
3 + '0.4'  # add or concatenate?

TypeError: ignored

In [ ]:
int("3") + 4               # Now the ambiguity is cleared up

In [ ]:
'3.' + str(4)

In [ ]:
float('3.%d' % 4)

In [ ]:
int(float("3.4"))

In [ ]:
bool(0)

In [ ]:
bool(3.4)

In [ ]:
bool("")                   # An empty string is falsy

In [ ]:
bool("False")              # A non-empty string counts as True

In [ ]:
int('I have $3.8 in my pocket')  # nonsensical conversion

ValueError: ignored

---
# Methods

A method is an <font color="salmon">***object-oriented***</font> programming term, and refers to a function that is attached to and act upon a specific object (thereby considered an attribute of the object).

Like functions, methods are triggered with a call expression. 

A method call requires the <font color="royalblue"><b>*attribute reference*</b></font> notation, i.e., a dot (`.`) between the invocation target and the method name:

In [ ]:
course = 'Python Programming'

In [ ]:
course.lower()           # produces a new string

In [ ]:
(12.0).is_integer()      # E.g., 12.3 is not

 Any name following a dot can be called an <font color="royalblue"><b>*attribute*</b></font>.
 
 
 As a rule of thumb, Python's toolset is  <font color="salmon">***layered***</font>:

- Generic operations that span multiple types show up as built-in functions or expressions (e.g., `len(x)`,  `x[0]`);

- Type-specific operations are implemented as method calls.

---

## Examples of Built-in String Methods

Here present some commonly used string methods in Python:
- `str.find(sub[, start[, end]])` searches the target string for a given substring and returns index of the first occurrence of `sub` in `str` (at or after index `start` and before index `end`):

In [ ]:
('ISOM 3400' * 2).find('ISOM', 3)

In [ ]:
('ISOM 3400' * 2).find('ISOM', 0, 3)

- `str.count(sub[, start[, end]])` returns the total number of non-overlapping occurrences of `sub` in `str`:

In [ ]:
('ISOM 3400' * 2).count('ISOM', 2)

In [ ]:
'abababa'.count('aba')

---

## Getting Help on Methods

We can use the built-in function `dir(object)` to retrieve a list of all the attributes (including methods, which are <font color="royalblue"><b>*function attributes*</b></font>) available for any object passed to it:

In [ ]:
dir(course)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

To learn about each method, we can pass them to the `help()` function:

In [ ]:
help(course.split)

Help on built-in function split:

split(...) method of builtins.str instance
    S.split(sep=None, maxsplit=-1) -> list of strings

    Return a list of the words in S, using sep as the
    delimiter string.  If maxsplit is given, at most maxsplit
    splits are done. If sep is not specified or is None, any
    whitespace string is a separator and empty strings are
    removed from the result.

Again, typing a method's name without adding `()` echos the string representation of the method:

In [ ]:
course.split

---
# Namespaces

A <font color="royalblue"><b>*namespace*</b></font> is a <font color="royalblue"><b>*mapping from names to objects*</b></font> in a specific programming context, and can be conceptualized as an "invisible dictionary".

The built-in function `dir()`,  when called without arguments,
returns the list of all the names (functions and variables) belonging to the namespace from where it is called. 

Running `dir()` (in a lightweight command-line interface) should return the following:

```
['__annotations__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', 'age', 'area', 'course', 'gender', 'height', 'i', 'j', 'keyword', 'name', 'price', 'shares', 'stock', 'width', 'x1', 'y1']
```

Deleting a name using [the `del` statement](https://docs.python.org/3/reference/simple_stmts.html#del) removes the name from the namespace:

In [ ]:
del x1

In [ ]:
dir()


Running `dir()` again should find `x1` being removed:
```
['__annotations__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', 'age', 'area', 'course', 'gender', 'height', 'i', 'j', 'keyword', 'name', 'price', 'shares', 'stock', 'width', 'y1']
```

In [ ]:
x1

NameError: ignored

When objects become unreachable, they can be garbage-collected.

---
# Modules

Most of the functionality in Python is provided by **modules**, which typically correspond to Python program files (or extensions coded in external languages such as C/C++ and Java) that define names we want to import to use.


Let's look at a .py file that contains the following code (you can download it from Canvas):

```
name = "ISOM 3400"
array = [1, 2, 3]

def foo(arg):
    print('arg = {}'.format(arg) )
```    

It can be read in as a module using [the `import` statement](https://docs.python.org/3/reference/simple_stmts.html#import):

In [ ]:
import mod


Using `dir()`, we can find the name `mod` imported to the current namespace:

```
['__annotations__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', 'age', 'area', 'course', 'gender', 'height', 'i', 'j', 'keyword', 'mod' 'name', 'price', 'shares', 'stock', 'width', 'y1']
```

The first time a module is imported, Python creates a module object, which is a wrapper of a namespace, and executes the statements in the module file one after another. 

***Top-level*** assignments create module attributes that populate the new namespace:

<br>

<img src="https://drive.google.com/uc?export=download&id=13n4DxX_E6NG7dRv-GdFIi5gnuDcBs0B3" width=400 />

In [ ]:
dir(mod)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'array',
 'foo',
 'name']

These names are now available for use, and the dot notation is used to refer to them:

In [ ]:
mod.name



<div class="alert alert-info">Normally, module namespaces last until the interpreter quits.</div>


Useful modules that form the [standard library](https://docs.python.org/3/library/) include `os`, `sys`, `math`, `random`, `shutil`, and so on.

In [ ]:
import random

In [ ]:
random

In [ ]:
dir(random)  # random.py

In [ ]:
random.randint(0, 10)

Using `help()` gives a description of this function:

In [ ]:
help(random.randint)

The module's `__file__` attribute gives the location where the module was found in the file system:

In [ ]:
random.__file__

'/usr/lib/python3.6/random.py'

Alternatively, we can import all names in a module to the current namespace using the `from` form of the `import` statement:

In [ ]:
from random import *

Using `dir()` finds all names from `random` imported to the current namespace:

```
['Random', 'SystemRandom', '__annotations__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', 'age', 'area', 'betavariate', 'choice', 'choices', 'course', 'expovariate', 'gammavariate', 'gauss', 'gender', 'getrandbits', 'getstate', 'height', 'i', 'j', 'keyword', 'lognormvariate', 'mod', 'name', 'normalvariate', 'paretovariate', 'price', 'randint', 'random', 'randrange', 'sample', 'seed', 'setstate', 'shares', 'shuffle', 'stock', 'triangular', 'uniform', 'vonmisesvariate', 'weibullvariate', 'width', 'y1']
```
Then we don't need to use the prefix every time we use something from it:

In [ ]:
randint(0, 10)

However, this should be used with caution, as it would potentially create <b>*name collisions*</b>:

In [ ]:
randint = 2; randint(0, 10)

As a third alternative, we can import only a few selected names from a module by explicitly listing them:

In [ ]:
from random import randint, sample

In [ ]:
randint(0, 10)

In [ ]:
sample(range(100), 20)

## Optional: The `__builtins__` Module

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

All built-in objects are attributes of a preloaded module named `builtins`. 

The current global namespace (the namespace associated with a module called `__main__`; the statements executed by the ***top-level*** invocation of the interpreter are considered part of the `__main__` module) automatically gets an
extra attribute named `__builtins__` that refers to the `builtins` module:

In [ ]:
__builtins__

When we access a name not found in the current global namespace, Python looks for the identifier in the `__builtins__` module, which is a wrapper of its own namespace:

In [ ]:
dir(__builtins__)

Many familiar names such as `abs`, `max`, `round`, and `len` can be found in its namespace

---

# Appendix: Operator Precedence

Python evaluates expressions from left to right. The following table summarizes the <font color="royalblue"><b>*operator precedence*</b></font> for all the operators we have seen so far, from highest precedence to lowest precedence:



|Operator|Meaning|
|:-- |:-- |
|`()`|Grouping|
|`x[i], x[i:j:k], x(...), x.attr`|Indexing, slicing, call, attribute reference|
|`**`|Exponentiation|
|`+x, -x`|identity, negatition|
|`*, /, //, %`|Multiplication (repetition), division, integer division, remainder (format)|
|`+, -`|Addition (concatenation), substraction|
|`<, <=, >, >=, ==, !=, in, not in, is, is not`|Comparisons, including membership tests and identity tests|
|`not`|Logical negation|
|`and`|Logical AND|
|`or`|Logical OR|