## Extra Exercies on Python Basics

For each question below, please write the corresponding code, and then run the code to show the output. This extra exercise will NOT be graded.

1) Write code that would assign value 2 to x, and value 3 to y.

In [1]:
x = 2
y = 3

2) What will be the result of `x == y`?

In [2]:
x == y

False

3) What will be the result of `x < y`?

In [3]:
x < y

True

4) Do a regular division, a floor divison, and then get the remainer of 11 divided by 3.

In [ ]:
11 / 3

In [ ]:
11 // 3

In [ ]:
11 % 3

5) Assign square of 12 to a variable `q`, and then print `q`.

In [ ]:
q = 12**2
print(q)

6) Assign `True` to `a` and `False` to `b`, then find out the value of `a or b`.

In [ ]:
a = True
b = False
a or b

7) What will be the result of `not a and not b`?

In [ ]:
not a and not b

8) Use a proper mathmatical function to find the maximum value among 23, 14, 108, and -5.

In [ ]:
max(23, 14, 108, -5)

9) Convert integer 5 to a `float`

In [ ]:
float(5)

10) What if I want to convert 4.555 to 5?

In [ ]:
round(4.555)

11) Write code that would ask users to input a course number, assign it to a variable called `course_no`, and then print the value of this variable. Run the code you wrote, and input "ISOM3400" as the course number.

In [ ]:
course_no = input("Please input a course number:")
print(course_no)

12) Assign `'a'` to `str1`, `'b'` to `str2`, and `'c'` to `str3`. Then print `abc` (with no space in between)

In [ ]:
str1 = 'a'
str2 = 'b'
str3 = 'c'
print(str1+str2+str3)

13) Use `str1`, `str2`, and `str3`, as well as the `sep` and `end` keyword arguments parameters to print the following output `.a|b|c.`

In [ ]:
print('.'+str1, str2, str3, sep='|', end='.')

14) Use `str1`, `str2`, and `str3` to print `aaabbbccc`.

In [ ]:
print(str1*3+str2*3+str3*3)

15) Write code to check if letter A is in the sentence: "She is a great badminton player". The test should return a value of `True` or `False`.

In [ ]:
'A' in "She is a great badminton player"

16) Assign a string `"Super Mario"` to a variable called `game`, use the slice operation to print `"Super"` from variable `game`.

In [ ]:
game = 'Super Mario'
print(game[:5])

17) Following the previous question, write code to print `"Mario"` from variable `game` using positive indexing first, and then using negative indexing.

In [ ]:
print(game[6:])
print(game[-5:])

18) Write code to get the first two and the last two characters of `game`. The output should be: `Suio`

In [ ]:
game[:2]+game[-2:]

19) Write code to find the index position of the space in variable `game`.

In [ ]:
game.index(' ')

20) Print the value of `game` without the space.

In [ ]:
space_index = game.index(' ')
game[:space_index]+game[space_index+1:]

21) Use variable `game`, print the following: `SUPER mario`

In [ ]:
space_index = game.index(' ')
game[:space_index].upper()+game[space_index:].lower()

22) Use string formatting to print the following based on variable `game`:

`The length of 'Super Mario' is 11 characters`

In [ ]:
print("The length of '%s' is %d characters" % (game, len(game)))

# or in the new style

print("The length of '{}' is {} characters".format(game, len(game)))

23) Write code that will only return `True` if a string has 'A' and 'B' and 'C' in it. Define `game2` as "Apple Bee Cat". And test your code on both `game` and `game2`. The result should be `False` for `game`, and `True` for `game2`.

In [ ]:
game2 = "Apple Bee Cat"
print('A' in game and 'B' in game and 'C'in game)
print('A' in game2 and 'B' in game2 and 'C'in game2)

24) Kathy has improved her score from 78 to 92. Please calculate her percentage of grade increase and print the following: 

```
Kathy's grade was improved from 78 to 92, which is an increase of 17.95%
``` 

(round the percentage to 2 decimal places)

In [ ]:
before = 78
after = 92

print("Kathy's grade was improved from {} to {}, which is an increase of {:.2f}%"
      .format(before, after, (92/78-1)*100))

# equivalently

print("Kathy's grade was improved from {} to {}, which is an increase of {}%"
      .format(before, after, round((92/78-1)*100, 2)))

25) Assume that you have a string of digits `"1234"`. Write code that would print the sum of squares of each digit in that string. 
(hint: the output is `30`)

In [ ]:
digits = "1234"
int(digits[0])**2+int(digits[1])**2+int(digits[2])**2+int(digits[3])**2

26) Given a string `"abcdbcdcdd"`, count how many times each character appears in the string, and produce the following output: 

```
'abcdbcdcdd' has 1 'a's, 2 'b's, 3 'c's, and 4 'd's.
```

In [ ]:
seq = "abcdbcdcdd"
print("'{}' has {} 'a's, {} 'b's, {} 'c's, and {} 'd's."
      .format(seq, seq.count('a'), seq.count('b'), seq.count('c'), seq.count('d')))

27) Write code to check your own Body Mass Index (BMI), which is a simple calculation using a person's height and weight. The formula is $BMI = kg/m^{2}$ where $kg$ is a person's weight in kilograms and $m^{2}$ is their height in metres squared. A BMI of 25.0 or more is overweight, while the healthy range is 18.5 to 24.9. Height and weight shall be user inputs, so that your code can be reused to check other people's BMI as well. Round BMI to two decimal points when printing.

In [ ]:
height = float(input("your height in kg?"))
weight = float(input("your weight in m?"))
print("your BMI is {:.2f}".format(height/weight**2))