# Python Basics, Lists, and Tuples

### Section 1: 

For multiple choice questions, put **x** inside **[ ]** to mark your choice.

1) Which of the options is equivalent to `3*3**3`?

    
- [ ] `9 ** 3`
- [ ] `3 * 9`
- [x] `3 * 27`
- [ ] `3 ** (3 * 3)`

2) What is the output of evaluating `2**1/2`?


- [ ] 1.4142135 (i.e., square root 2)
- [ ] 1
- [x] 1.0
- [ ] Error

3) Which of the following are valid names for Python variables? (*more than one correct choice*)

- [x] `_X`
- [x] `Fall19`
- [ ] `2020Fall`
- [x] `student_name`
- [ ] `email-address`
- [ ] `h&m`
- [ ] `elif`

4) Given the assignment `courseCode = "ISOM 3400"` being made, which of the following **CANNOT** assign the department code `"ISOM"` to the variable `dept`?



- [ ] `dept = courseCode[:4]`
- [ ] `dept = courseCode[0:4]`
- [x] `dept = courseCode[:-4]`
- [ ] `dept = courseCode[-9:4]`

5) Which of the following options can update the string variable `x` to `"ISOM3400"`? 

```
x = "ISOM3401"
```

- [ ] `x = x[:-1] + 0`
- [x] `x = x[:-1] + "0"`
- [ ] `x[-1] = '0'`
- [ ] `x = x - 1`

6) Given `numbers = [1, 2, 5, 6]`, which of the following code could fill in the missing integers between 2 and 5, while keeping `numbers` flat?

- [ ] `numbers[2:3] = [3, 4]`
- [ ] `numbers[2] = [3, 4]`
- [ ] `numbers.insert(2, [3, 4])`
- [x] `numbers[2:2] = [3, 4]`

7) Consider the following diagram:

<img src="https://drive.google.com/uc?export=download&id=1rD0R9It0PELP3u-w0CXCRmHUhDawe5B0" width=500/>


What should be the list display used in the following assignment to produce the structure shown above?

In [2]:
x = [3, [1], [1,2], [[4]]]

8) What is the value of `L3` after you execute the code below?

```python
L1 = ['re']
L2 = ['mi']
L3 = ['do']
L4 = L1 + L2
L3.extend(L4)
L3.sort()
del L3[0]
L3.append(['fa','la'])
```


- [x] `['mi', 're', ['fa', 'la']]`
- [ ] `['mi', 're', 'fa', 'la']`
- [ ] `['re', 'mi', ['fa', 'la']]`
- [ ] `['do', 'mi', ['fa', 'la']]`

In [1]:
L1 = ['re']
L2 = ['mi']
L3 = ['do']
L4 = L1 + L2
L3.extend(L4)
L3.sort()
del L3[0]
L3.append(['fa','la'])
print(L3)

['mi', 're', ['fa', 'la']]

## Section 2:



For each question below, please write the corresponding code and then run the code to show the output.

**Question 1**

- Define a variable `x` by assigning a value of 3.14 to it;
- Add a comment on the same line that states "x is pai";
- Find out the type of `x`.

In [26]:
x = 3.14 #x is pai
type(x)

float

**Question 2**
- Assign a value of 2 to `x` and a value of 3 to `y`;
- Assign the result of `x + y` to `z`; 
- Use `print()` to generate the output that looks like: 

```
x = 2; y = 3; z = 5; x * y = 6
```

In [27]:
x = 2
y = 3
z = x + y
print("x = {}; y = {}; z = {}; x * y = {}".format(x, y, z, x * y))

x = 2; y = 3; z = 5; x * y = 6

**Question 3**

Write **ONE** line of code that prints two lines as follows: 

`It's the best day in Tim's life!`
<br>`He scored the highest when playing "Super Mario Run"!`

In [28]:
print("It's the best day in Tim's life!\nHe scored the highest when playing \"Super Mario Run\"!")

It's the best day in Tim's life!
He scored the highest when playing "Super Mario Run"!


**Question 4**

- Assign a string `"Super Mario"` to a variable `game` and a string `"Apple Bee Cat"` to a variable `game2`;
- Compare which one is longer, `game` or `game2`. Return `True` if `game` is longer or `False` if `game2` is longer. 

-  Count how many 'A/a's there are in `game2`, including uppercase "A" and lowercase "a". Print the following: 
  
  ```There are a total of 2 "A/a"s in 'Apple Bee Cat'```

- Count how many times letter `"e"` has appeared in `game` and `game2` together.

In [62]:
game = "Super Mario"
game2 = "Apple Bee Cat"

In [56]:
len(game) > len(game2)

False

In [58]:
x = game2.count('A') + game.count('a')
print("There are a total of {} \"A/a\"s in 'Apple Bee Cat'".format(x))

There are a total of 2 "A/a"s in 'Apple Bee Cat'

In [61]:
game.count('e') + game2.count('e')

4

**Question 5** 

***Tokenization*** is often the first step in text analytics. It is the process of breaking down a text paragraph into smaller chunks such as words or sentences.


<br>

Use `dir()` and `help()` to find a string method that can split the following string into its constituent words. (hint: the delimiter to use is `' '`).

<br>

`Business analytics refers to the practices for continuous iterative exploration and investigation of past business performance to gain insight and drive business planning`

<br>


The expected output looks like: 

```python
['Business', 'analytics', 'refers', 'to', 'the', 'practices', 'for', 'continuous', 'iterative', 'exploration', 'and',
 'investigation', 'of', 'past', 'business', 'performance', 'to', 'gain', 'insight', 'and', 'drive', 'business', 
 'planning']
```

In [32]:
s = "Business analytics refers to the practices for continuous iterative exploration and investigation of past business performance to gain insight and drive business planning"
print(s.split(' '))

['Business', 'analytics', 'refers', 'to', 'the', 'practices', 'for', 'continuous', 'iterative', 'exploration', 'and', 'investigation', 'of', 'past', 'business', 'performance', 'to', 'gain', 'insight', 'and', 'drive', 'business', 'planning']

**Question 6**

With machine learning and data science emerging, sometimes we can get the data in the format of list of numbers but with string as data type.

- Use the `list()` function to convert an appropriate string to a list with "0" to "9" characters and call it `clist`. Print `clist` and it should look like: 
```python
['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
```

- Add an element `'10'` to the end of `clist`. Print `clist` and it should look like:
```python
['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
```
- Sort strings in `clist` numerically, or in other words, by corresponding numeric value. After sorting, the content of `clist` should look like: 
```python
['10', '9', '8', '7', '6', '5', '4', '3', '2', '1', '0']
```


-  Use the built-in `max` and `min` functions to find the strings that have the maximum and minimum numerical values (`'10'` and `'0'` are expected), respectively. 

  - hint: use `help()` to figure out what keyword argument(s) is needed.

In [63]:
clist = list("0123456789")
clist.append("10")
clist.sort(key = int, reverse = True)
print("maximum value: {}".format(max(clist, key = int)))
print("minimum value: {}".format(min(clist, key = int)))
print("clist: {}".format(clist))

maximum value: 10
minimum value: 0
clist: ['10', '9', '8', '7', '6', '5', '4', '3', '2', '1', '0']

**Question 7**

Given a list of words defined as follows

```python
words = ['this', 'that', 'the', 'for', 'is', 'if', 'is', 'if', 'this', 'that', 'that', 'for', 'is', 'a', 'a', 'the']
```

- Create a new list to store all the occurrences of the words having occurred more than twice in `words`. The order of the occurrences should be retained in this new list. The value of the new list should look like:

  ```python
 ['that', 'is', 'is', 'that', 'that', 'is']
  ```

 
 

- Compute the frequencies of the words in `words` using a list comprehension. The resulting list, `word_freq`, should contain a sequence of 2-element tuples, each with the first being a word in `words` and the second the count of the word. The content of `word_freq` should look like as follows:

```python
[('this', 2), ('for', 2), ('the', 2), ('is', 3), ('if', 2), ('a', 2), ('that', 3)]
```
Hint: 
   1. Use `set(words)` after `in` keyword in the list comprehension. `set(words)` creates a Python set that contains only the unique values in `words`. This is a very useful trick to remove duplicates of a list all at once.
   2. The output expression of the list comprehension should be a tuple display.

In [67]:
words = ['this', 'that', 'the', 'for', 'is', 'if', 'is', 'if', 'this', 'that', 'that', 'for', 'is', 'a', 'a', 'the']
new_list = [i for i in words if words.count(i) > 2]
word_freq = [(i, words.count(i)) for i in set(words)]
print("new list with occurrence more than 2: {}".format(new_list))
print("word_freq: {}".format(word_freq))

new list with occurrence more than 2: ['that', 'is', 'is', 'that', 'that', 'is']
word_freq: [('a', 2), ('for', 2), ('if', 2), ('that', 3), ('the', 2), ('this', 2), ('is', 3)]

**Question 8**

Suppose we use a nested list to maintain gradebooks for several IS courses as follows: 

```python
IS_gradebooks = [['ISOM2020', [59, 100, 80, 55, 95, 87, 95, 98, 74, 69, 92, 94, 75, 97, 43, 57]],
 ['ISOM3400', [98, 73, 45, 88, 72, 94, 82, 100, 89, 52]], 
 ['ISOM3600', [24, 44, 100, 81, 91, 93, 87, 72]], 
 ['ISOM4200', [90, 56, 78, 67, 90, 93]]]

```

Write a list comprehension to create a new nested list which maintains the mean score for each course. Use sequence unpacking whenever possible.

The expected output should look like the follow:

```python
[['ISOM2020', 79.375], ['ISOM3400', 79.3], ['ISOM3600', 74.0], ['ISOM4200', 79.0]]
```

In [74]:
IS_gradebooks = [['ISOM2020', [59, 100, 80, 55, 95, 87, 95, 98, 74, 69, 92, 94, 75, 97, 43, 57]],
 ['ISOM3400', [98, 73, 45, 88, 72, 94, 82, 100, 89, 52]], 
 ['ISOM3600', [24, 44, 100, 81, 91, 93, 87, 72]], 
 ['ISOM4200', [90, 56, 78, 67, 90, 93]]]
print([[name, sum(mark)/len(mark)] for name, mark in IS_gradebooks])

[['ISOM2020', 79.375], ['ISOM3400', 79.3], ['ISOM3600', 74.0], ['ISOM4200', 79.0]]